*.a
*.cmi
*.cmo
*.cmx
.*.d
*.o
*.opic
*.pyc
*.so
*.so..*
*.tar.bz2
*.tar.gz
*~
*.tmp
*.flc
*.orig
*.rej
*/a.out
*/Modules.symvers
*/cscope..*
cscope.*
[/]*.bz2
config
pc
(|/)(tags|TAGS)
build-.*
dist/.*
docs/.*.aux
docs/.*.dvi
docs/.*.log
docs/.*.pdf
docs/.*.ps
docs/.*.toc
docs/api/.*
docs/figs/xenserver.eps
docs/html/.*
docs/interface/WARNINGS
docs/interface/images.pl
docs/interface/images.tex
docs/interface/img1.png
docs/interface/index.html
docs/interface/interface.css
docs/interface/interface.html
docs/interface/labels.pl
docs/man1/
docs/man5/
docs/pdf/.*
docs/ps/.*
docs/user/WARNINGS
docs/user/images.pl
docs/user/images.tex
docs/user/img1.png
docs/user/img2.png
docs/user/img3.png
docs/user/index.html
docs/user/internals.pl
docs/user/labels.pl
docs/user/user.css
docs/user/user.html
docs/xen-api/vm_lifecycle.eps
docs/xen-api/xenapi-datamodel-graph.eps
docs/xen-api/xenapi.out
extras/mini-os/arch/ia64/gen_off.s
extras/mini-os/include/mini-os
extras/mini-os/include/ia64/mini-os
extras/mini-os/include/ia64/offsets.h
extras/mini-os/include/x86/mini-os
extras/mini-os/include/xen
extras/mini-os/mini-os.*
install/.*
linux-[/]*-paravirt/.*
linux-2.6[/]*/.*
linux-[/]*-rc/.*
linux-[/]*-tip/.*
linux-[/]*-git/.*
linux-[/]*.patch
mkddbxen
netbsd-[/]*-tools/.*
netbsd-[/]*-xen0/.*
netbsd-[/]*-xenU/.*
netbsd-[/]*.patch
patches/.*/.makedep
patches/ebtables-brnf-5_vs_2.4.25.diff
patches/ebtables.diff
patches/tmp/.*
pristine-.*
ref-.*
tmp-.*
stubdom/binutils-.*
stubdom/cross-root-.*
stubdom/gcc-.*
stubdom/include
stubdom/ioemu
stubdom/xenstore
stubdom/libxc-.*
stubdom/lwip-.*
stubdom/mini-os-.*
stubdom/mk-headers-.*
stubdom/newlib-.*
stubdom/pciutils-.*
stubdom/zlib-.*
stubdom/grub-.*
stubdom/ocaml-.*
stubdom/lwip/
stubdom/ioemu/
stubdom/stubdompath.sh
tools/.*/build/lib.*/.*.py
tools/blktap2/control/tap-ctl
tools/blktap2/drivers/img2qcow
tools/blktap2/drivers/lock-util
tools/blktap2/drivers/qcow-create
tools/blktap2/drivers/qcow2raw
tools/blktap2/drivers/tapdisk-client
tools/blktap2/drivers/tapdisk-diff
tools/blktap2/drivers/tapdisk-stream
tools/blktap2/drivers/tapdisk2
tools/blktap2/drivers/td-util
tools/blktap2/vhd/vhd-update
tools/blktap2/vhd/vhd-util
tools/blktap/drivers/blktapctrl
tools/blktap/drivers/img2qcow
tools/blktap/drivers/qcow-create
tools/blktap/drivers/qcow2raw
tools/blktap/drivers/tapdisk
tools/check/..*
tools/console/xenconsole
tools/console/xenconsoled
tools/debugger/gdb/gdb-6.2.1-linux-i386-xen/.*
tools/debugger/gdb/gdb-6.2.1/.*
tools/debugger/gdb/gdb-6.2.1.tar.bz2
tools/debugger/gdbsx/gdbsx
tools/debugger/kdd/kdd
tools/debugger/xenitp/xenitp
tools/firmware/.*/biossums
tools/firmware/.*.bin
tools/firmware/.*.sym
tools/firmware/.*bios/.*bios.*.txt
tools/firmware/etherboot/eb-roms.h
tools/firmware/etherboot/ipxe/.*
tools/firmware/etherboot/ipxe.git/.*
tools/firmware/extboot/extboot.img
tools/firmware/extboot/signrom
tools/firmware/hvmloader/acpi/dsdt.*.c
tools/firmware/hvmloader/acpi/ssdt_.*.h
tools/firmware/hvmloader/hvmloader
tools/firmware/hvmloader/roms.h
tools/firmware/rombios/BIOS-bochs-[/]*
tools/firmware/rombios/_rombios[/]*_.c
tools/firmware/rombios/rombios[/]*.s
tools/firmware/rombios/32bit/32bitbios_flat.h
tools/firmware/vgabios/vbetables-gen
tools/firmware/vgabios/vbetables.h
tools/flask/loadpolicy/flask-loadpolicy
tools/flask/utils/flask-getenforce
tools/flask/utils/flask-loadpolicy
tools/flask/utils/flask-setenforce
tools/fs-back/fs-backend
tools/hotplug/common/hotplugpath.sh
tools/include/xen/.*
tools/include/xen-foreign/.*.(c|h|size)
tools/include/xen-foreign/checker
tools/ioemu/.pc/.*
tools/ioemu/config-host.h
tools/ioemu/config-host.mak
tools/ioemu/i386-dm/Makefile
tools/ioemu/i386-dm/config.h
tools/ioemu/i386-dm/config.mak
tools/ioemu/i386-dm/qemu-dm
tools/ioemu/qemu-doc.html
tools/ioemu/qemu-img.1
tools/ioemu/qemu-img.pod
tools/ioemu/qemu-tech.html
tools/ioemu/qemu.1
tools/ioemu/qemu.pod
tools/ioemu/tapdisk-ioemu
tools/libxc/ia64/asm/.*.h
tools/libxc/ia64/acpi/.*.h
tools/libxc/ia64/acpi/platform/.*.h
tools/libxc/ia64/dom_fw_asm.S
tools/libxc/ia64/dom_fw_common.c
tools/libxc/ia64/dom_fw_domu.c
tools/libxc/ia64/xen/.*.h
tools/libxen/libxenapi-
tools/libxen/test/test_bindings
tools/libxen/test/test_event_handling
tools/libxl/_.*.h
tools/libxl/_.*.c
tools/libxl/libxlu_cfg_y.output
tools/libxl/xl
tools/libaio/src/.*.ol
tools/libaio/src/.*.os
tools/misc/cpuperf/cpuperf-perfcntr
tools/misc/cpuperf/cpuperf-xen
tools/misc/lomount/lomount
tools/misc/mbootpack/bin2c
tools/misc/mbootpack/bootsect
tools/misc/mbootpack/bzimage_header.c
tools/misc/mbootpack/mbootpack
tools/misc/mbootpack/setup
tools/misc/miniterm/miniterm
tools/misc/xc_shadow
tools/misc/xen_cpuperf
tools/misc/xen-detect
tools/misc/xen-hptool
tools/misc/xen-hvmcrash
tools/misc/xen-tmem-list-parse
tools/misc/xenperf
tools/misc/xenpm
tools/misc/xen-hvmctx
tools/misc/gtraceview
tools/misc/gtracestat
tools/misc/xenlockprof
tools/pygrub/build/.*
tools/python/build/.*
tools/python/xen/util/path.py
tools/python/xen/lowlevel/xl/_pyxl_types.c
tools/python/xen/lowlevel/xl/_pyxl_types.h
tools/remus/imqebt/imqebt
tools/remus/kmod/.*(.cmd|.mod|.ko|.mod.c|.symvers|.xen)
tools/security/secpol_tool
tools/security/xen/.*
tools/security/xensec_tool
tools/tests/x86_emulator/blowfish.bin
tools/tests/x86_emulator/blowfish.h
tools/tests/x86_emulator/test_x86_emulator
tools/tests/x86_emulator/x86_emulate
tools/tests/regression/installed/.*
tools/tests/regression/build/.*
tools/tests/regression/downloads/.*
tools/tests/xen-access/xen-access
tools/vnet/Make.local
tools/vnet/build/.*
tools/vnet/gc
tools/vnet/gc.*/.*
tools/vnet/vnet-module/.*.ko
tools/vnet/vnet-module/..*.cmd
tools/vnet/vnet-module/.tmp_versions/.*
tools/vnet/vnet-module/vnet_module.mod..*
tools/vnet/vnetd/vnetd
tools/vtpm/tpm_emulator-.*.tar.gz
tools/vtpm/tpm_emulator/.*
tools/vtpm/vtpm/.*
tools/vtpm_manager/manager/vtpm_managerd
tools/xcutils/lsevtchn
tools/xcutils/xc_restore
tools/xcutils/xc_save
tools/xcutils/readnotes
tools/misc/xenwatchdogd
tools/xenfb/sdlfb
tools/xenfb/vncfb
tools/xenmon/xentrace_setmask
tools/xenmon/xenbaked
tools/xenpaging/xenpaging
tools/xenpmd/xenpmd
tools/xenstat/xentop/xentop
tools/xenstore/testsuite/tmp/.*
tools/xenstore/xen
tools/xenstore/xenstore
tools/xenstore/xenstore-chmod
tools/xenstore/xenstore-exists
tools/xenstore/xenstore-list
tools/xenstore/xenstore-read
tools/xenstore/xenstore-rm
tools/xenstore/xenstore-write
tools/xenstore/xenstore-control
tools/xenstore/xenstore-ls
tools/xenstore/xenstore-watch
tools/xenstore/xenstored
tools/xenstore/xenstored_test
tools/xenstore/xs_crashme
tools/xenstore/xs_random
tools/xenstore/xs_stress
tools/xenstore/xs_tdb_dump
tools/xenstore/xs_test
tools/xenstore/xs_watch_stress
tools/xentrace/xentrace_setsize
tools/xentrace/tbctl
tools/xentrace/xenctx
tools/xentrace/xentrace
tools/xm-test/ramdisk/buildroot
tools/xm-test/aclocal.m4
tools/xm-test/autom4te
tools/xm-test/install-sh
tools/xm-test/mkinstalldirs
tools/xm-test/missing
tools/xm-test/config(ure|.log|.status|.guess|.sub)
tools/xm-test/Makefile(.in)*
tools/xm-test/.*/Makefile(.in)*
tools/xm-test/lib/XmTestLib/config.py
tools/xm-test/lib/XmTestReport/xmtest.py
tools/xm-test/tests/.*.test
tools/ioemu-remote
tools/ioemu-dir
tools/ocaml/.*/.*.annot
tools/ocaml/.*/.*.cmx?a
tools/ocaml/.*/META
tools/ocaml/.*/.ocamldep.make
tools/ocaml/xenstored/oxenstored
xen/.banner.*
xen/BLOG
xen/System.map
xen/arch/x86/asm-offsets.s
xen/arch/x86/boot/mkelf32
xen/arch/x86/xen.lds
xen/arch/x86/boot/reloc.S
xen/ddb/.*
xen/include/headers.chk
xen/include/asm
xen/include/asm-.*/asm-offsets.h
xen/include/asm-ia64/asm-xsi-offsets.h
xen/include/asm-ia64/.offsets.h.stamp
xen/include/asm-ia64/xen
xen/include/compat/.*
xen/include/hypervisor-ifs/arch
xen/include/linux
xen/include/public/public
xen/include/xen/.*.new
xen/include/xen/acm_policy.h
xen/include/xen/banner.h
xen/include/xen/compile.h
xen/tools/figlet/figlet
xen/tools/symbols
xen/xen
xen/xen-syms
xen/xen..*
xen/arch/ia64/asm-offsets.s
xen/arch/ia64/asm-xsi-offsets.s
xen/arch/ia64/map.out
xen/arch/ia64/xen.lds.s
unmodified_drivers/linux-2.6/.tmp_versions
unmodified_drivers/linux-2.6/.*.cmd
unmodified_drivers/linux-2.6/.*.ko
unmodified_drivers/linux-2.6/.*.mod.c
LibVNCServer.*
*.annot
xen/xen.gz
xen/include/compat/
xen/include/asm-x86/asm-offsets.h
xen/.banner
dist/
stubdom/cross-root-i686/
stubdom/cross-root-x86_64/
stubdom/grub-upstream/
stubdom/grub-x86_32/
stubdom/grub-x86_64/
stubdom/libxc-x86_32/
stubdom/libxc-x86_64/
stubdom/lwip-x86_64/
stubdom/mini-os-x86_32-grub/
stubdom/mini-os-x86_64-grub/
stubdom/mini-os-x86_64-ioemu/
stubdom/mk-headers-x86_32
stubdom/mk-headers-x86_64
stubdom/newlib-1.16.0/
stubdom/newlib-x86_32/
stubdom/newlib-x86_64/
stubdom/pciutils-x86_32/
stubdom/pciutils-x86_64/
stubdom/zlib-x86_32/
stubdom/zlib-x86_64/
tools/blktap/lib/libblktap.so.3.0
tools/blktap/lib/libblktap.so.3.0.0
tools/blktap2/control/libblktapctl.so.1.0
tools/blktap2/control/libblktapctl.so.1.0.0
tools/blktap2/vhd/lib/libvhd.so.1.0
tools/blktap2/vhd/lib/libvhd.so.1.0.0
tools/firmware/etherboot/ipxe/
tools/firmware/hvmloader/acpi/dsdt_15cpu.c
tools/firmware/hvmloader/acpi/dsdt_anycpu.c
tools/firmware/hvmloader/acpi/ssdt_pm.h
tools/firmware/hvmloader/acpi/ssdt_tpm.h
tools/firmware/rombios/BIOS-bochs-latest
tools/firmware/rombios/_rombios_.c
tools/firmware/rombios/biossums
tools/firmware/rombios/rombios.s
tools/firmware/rombios/rombios.sym
tools/firmware/rombios/rombios.txt
tools/firmware/vgabios/VGABIOS-lgpl-latest.bin
tools/firmware/vgabios/VGABIOS-lgpl-latest.cirrus.bin
tools/firmware/vgabios/VGABIOS-lgpl-latest.cirrus.debug.bin
tools/firmware/vgabios/VGABIOS-lgpl-latest.debug.bin
tools/firmware/vgabios/biossums
tools/firmware/vgabios/vgabios-cirrus.bin
tools/firmware/vgabios/vgabios-cirrus.debug.bin
tools/firmware/vgabios/vgabios-cirrus.debug.txt
tools/firmware/vgabios/vgabios-cirrus.txt
tools/firmware/vgabios/vgabios.bin
tools/firmware/vgabios/vgabios.debug.bin
tools/firmware/vgabios/vgabios.debug.txt
tools/firmware/vgabios/vgabios.txt
tools/flask/libflask/libflask.so.1.0
tools/flask/libflask/libflask.so.1.0.0
tools/include/xen-foreign/checker.c
tools/include/xen-foreign/ia64.h
tools/include/xen-foreign/x86_32.h
tools/include/xen-foreign/x86_64.h
tools/include/xen/
tools/libaio/src/compat-0_1.ol
tools/libaio/src/compat-0_1.os
tools/libaio/src/io_cancel.ol
tools/libaio/src/io_cancel.os
tools/libaio/src/io_destroy.ol
tools/libaio/src/io_destroy.os
tools/libaio/src/io_getevents.ol
tools/libaio/src/io_getevents.os
tools/libaio/src/io_queue_init.ol
tools/libaio/src/io_queue_init.os
tools/libaio/src/io_queue_release.ol
tools/libaio/src/io_queue_release.os
tools/libaio/src/io_queue_run.ol
tools/libaio/src/io_queue_run.os
tools/libaio/src/io_queue_wait.ol
tools/libaio/src/io_queue_wait.os
tools/libaio/src/io_setup.ol
tools/libaio/src/io_setup.os
tools/libaio/src/io_submit.ol
tools/libaio/src/io_submit.os
tools/libaio/src/libaio.so.1.0.1
tools/libaio/src/raw_syscall.ol
tools/libaio/src/raw_syscall.os
tools/libfsimage/common/libfsimage.so.1.0
tools/libfsimage/common/libfsimage.so.1.0.0
tools/libxc/libxenctrl.so.4.0
tools/libxc/libxenctrl.so.4.0.0
tools/libxc/libxenguest.so.4.0
tools/libxc/libxenguest.so.4.0.0
tools/libxl/_libxl_paths.h
tools/libxl/_libxl_types.c
tools/libxl/_libxl_types.h
tools/libxl/libxenlight.so.1.0
tools/libxl/libxenlight.so.1.0.0
tools/libxl/libxlutil.so.1.0
tools/libxl/libxlutil.so.1.0.0
tools/ocaml/libs/eventchn/.ocamldep.make
tools/ocaml/libs/eventchn/META
tools/ocaml/libs/eventchn/eventchn.cma
tools/ocaml/libs/eventchn/eventchn.cmxa
tools/ocaml/libs/log/.ocamldep.make
tools/ocaml/libs/log/META
tools/ocaml/libs/log/log.cma
tools/ocaml/libs/log/log.cmxa
tools/ocaml/libs/mmap/.ocamldep.make
tools/ocaml/libs/mmap/META
tools/ocaml/libs/mmap/mmap.cma
tools/ocaml/libs/mmap/mmap.cmxa
tools/ocaml/libs/uuid/.ocamldep.make
tools/ocaml/libs/uuid/META
tools/ocaml/libs/uuid/uuid.cma
tools/ocaml/libs/uuid/uuid.cmxa
tools/ocaml/libs/xb/.ocamldep.make
tools/ocaml/libs/xb/META
tools/ocaml/libs/xb/xb.cma
tools/ocaml/libs/xb/xb.cmxa
tools/ocaml/libs/xc/.ocamldep.make
tools/ocaml/libs/xc/META
tools/ocaml/libs/xc/xc.cma
tools/ocaml/libs/xc/xc.cmxa
tools/ocaml/libs/xl/.ocamldep.make
tools/ocaml/libs/xl/META
tools/ocaml/libs/xl/xl.cma
tools/ocaml/libs/xl/xl.cmxa
tools/ocaml/libs/xs/.ocamldep.make
tools/ocaml/libs/xs/META
tools/ocaml/libs/xs/xs.cma
tools/ocaml/libs/xs/xs.cmxa
tools/pygrub/build/
tools/python/build/
tools/xenstore/libxenstore.so.3.0
tools/xenstore/libxenstore.so.3.0.0
